#section1{
    background-color: lightskyblue;
}

#section2{
    background-color: mediumpurple;
}

#section3{
    background-color: lightsteelblue;
}

#section4{
    background-color: plum;
}

.row{
    background-color: rgba(255, 255, 255, 0.3);
}

footer{
    height: 120px;
    background-color: gray;
}

.niz{
}
.niz1{
    color: black;
    margin-left: 40%;
}
.niz2{
    color: black;
    margin-left: 5%;
}